<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">Content Browser</h1>
		<p>Select content to be shared</p>
		<ul id="gallery" class="gallery">
			{{#each content}}
				<li><a href="{{this.url}}"><img src="{{this.url}}"></a></li>
			{{/each}}
		</ul>
	</div>
</div>