<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
			<h1>Share content stream to as you like!</h1>
		</div>
		

	    <div id="qr-code"></div>

	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223304811145016";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>


		<div class="fb-send" data-href={{shareurl}}></div>
		</script>

      	<input type="text" id="share-url" readonly="" spellcheck="false" class="url-field"></input type="text">
	    <input type="file" name="file"></input>

		<div class="progress progress-striped active hidden">
	        <div class="bar" style="width: 0px;"></div>
	    </div>
	    
	    <a class="btn btn-primary btn-block" id="browse-content" href="#">Browse Content</a>
	</div>

	



</div>