<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">Register</h1>
		<form>
			<input type="text" class="input-block-level" name="username" id="username" placeholder="Username">
			<input type="password" class="input-block-level" name="password" id="password" placeholder="Password">
			<input type="submit" class="btn btn-warning btn-large btn-block" value="Register">
		</form>
	</div>
</div>
