<div class="navbar navbar-static-top">
	<ul class="nav">
		<li class="brand">Beamer</li>
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Profile</a></li>
		<li><a href="#">Settings</a></li>
	</ul>
</div>

<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">Sign up</h1>
		<form>
			<input type="text" class="input-block-level" name="username" id="username" placeholder="Username">
			<input type="password" class="input-block-level" name="password" id="password" placeholder="Password">
			<input type="submit" class="btn btn-warning btn-large btn-block" value="Sign up">
		</form>
	</div>
</div>
