<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">Shared Content</h1>
		<p>This page shows the status of a single piece of content that has been selected for sharing.</p>
	</div>
</div>