<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">Upload Content</h1>
		<form>
			<input type="file" class="input-block-level" name="content" id="content" placeholder="Content">
			<input type="submit" class="btn btn-primary btn-block" value="Upload">
		</form>
	</div>
</div>