<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">Upload Content</h1>
		
		<form>
			<input type="file" name="file"></input>
		</form>
		
		<div class="progress progress-striped active hidden">
	        <div class="bar" style="width: 0px;"></div>
	    </div>
		
	</div>
</div>