<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">{{username}}</h1>
			<div class="btn-group btn-group-vertical btn-block">
			<a class="btn btn-block btn-large" id="upload-content" href="#">Upload Content</a>
			<a class="btn btn-block btn-large" id="browse-content" href="#">Browse Content</a>
			<a class="btn btn-block btn-large" id="share-content" href="#">Share Content</a>
			<a class="btn btn-block btn-large" id="logout" href="#">Logout</a>
			</div>
	</div>
</div>

