<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">{{username}}</h1>
		<a class="btn btn-block" id="upload-content" href="#">Upload Content</a>
		<a class="btn btn-block" id="browse-content" href="#">Browse Content</a>
		<a class="btn btn-block" id="share-content" href="#">Share Content</a>
		<a class="btn btn-block" id="share-content" href="#">Logout</a>
	</div>
</div>