<div class="row-fluid">
	<div class="span12">
		<h1 class="text-center">Start new beam</h1>
			<a class="beam" id="share-content" href="#">
				<img src="/images/large_beam.png" height="250" width="300" />
			</a>
			
	</div>
</div>


<!--
<h1 class="text-center">{{username}}</h1>
<a class="btn btn-block btn-large" id="upload-content" href="#">Upload Content</a>
<a class="btn btn-block btn-large" id="browse-content" href="#">Browse Content</a>
-->
