<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
			<h1>{{senderUserName}} is sharing!</h1>
		</div>

		<img src="{{imageUrl}}" class="hidden" />
		<i class="icon-spinner icon-spin" style="font-size:56px"></i>
	</div>
</div>